

.compile-bill{
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    box-sizing: border-box;
    font-size: 14px;
    width: 50%;
    height: 60%;
    display: block;
    margin: 0px auto;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.compile-bill > table{
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    box-sizing: border-box;
    font-size: 14px;
    border-radius: 7px;
    border: solid;
    margin: 0px;
    height: 100%;
    width: 100%;
}

.compile-bill>table>tr{
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    box-sizing: border-box;
    font-size: 14px;
    margin: 0px;
}

.compile-bill>table>tr>td{
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    box-sizing: border-box;
    text-align: center;
    font-size: 18px;
}

.compile-inner{
    border: solid;
    box-sizing: border-box;
    margin: 0;
    height: 10px;
}

.compile-inner>td{
    
    font-size: 12px;
    color: #9b9fa2;
    border-top: 1px solid rgb(238, 238, 238);
}
.inner-table{
    width: 100%;
    padding: 12px;
}

.inner-table-header{
    text-align: center;
    font-size: 18px;
}

.inner-footer>td{
    text-align: center;
    font-size: 9px;
}