.login-card{
    height:350px;
    width: 25% !important;
    margin:5% auto;
}

.form-margin{
    margin-bottom:10px;
}

.register-height{
    height: 400px;
}

.form-control{
    display: block;

    padding: .47rem .75rem;
    font-size: .8125rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    -webkit-appearance: none;
    appearance: none;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.form-holder{
    display: flex;
    flex-direction: column;
    margin: 10px auto;
}

form{
    padding: 10px;
}

.login-header{
    background-color: rgba(85,110,230,.25)!important;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}

.login-header>div{
    display: flex;
    height: 100%;
    padding: 0px 10px;
    justify-content: space-evenly;
    flex-direction: column;
}

.login-header>div>label{
    color: #556ee6!important;
}


.login-header>img{
    width: 140px;
    height: 100px;
}