.nav-div{
    display: flex;
    justify-content: space-between;
    width: auto;
    background-color: white;
    padding:0 10%;
}

.left-side{
    width: 150px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.left-side>label{
    font-size: 12px;
}